<%- include('header') -%>

    <div>
        <h1 class="content-heading resource-heading">- R E S O U R C E S -</h1>
        <p class="my-lead-class resource-paragraph">Here is a list of resources to get you started.</p>
    </div>

    <div class="card center my-margin" style="width:18rem; background:rgb(83, 83, 187);">
        <img src="img/harry1.jpg" alt="imageofinstructor" class="card-img-top" width="100px" style="border-radius: 11px 11px 11px 11px;">
        <div class="card-body">
            <h5 class="card-title my-black-color">C PROGRAMMING</h5>
            <p class="card-text my-black-color">- Beginner To Pro -</p>
            <a href="<%= clink %>" class="btn btn-outline-dark">ENJOY</a>
        </div>
    </div>

    <div class="card center my-margin" style="width:18rem; background:rgb(83, 83, 187);">
        <img src="img/instructor.jpg" alt="imageofinstructor" class="card-img-top" width="100px" style="border-radius: 11px 11px 11px 11px;" height="200px">
        <div class="card-body">
            <h5 class="card-title my-black-color">WEB DEVELOPMENT</h5>
            <p class="card-text my-black-color">- Beginner To Pro -</p>
            <a href="<%= weblink %>>" class="btn btn-outline-dark">ENJOY</a>
        </div>
    </div>

    <div class="card center my-margin" style="width:18rem; background:rgb(83, 83, 187);">
        <img src="img/instructor.jpg" alt="imageofinstructor" class="card-img-top" width="100px" style="border-radius: 11px 11px 11px 11px;" height="200px">
        <div class="card-body">
            <h5 class="card-title my-black-color">PYTHON BOOTCAMP</h5>
            <p class="card-text my-black-color">- Beginner To Pro -</p>
            <a href="<%= pythonlink %>" class="btn btn-outline-dark">ENJOY</a>
        </div>
    </div>
    
<%- include('footer') -%>