<%- include('header') -%>

    <div>
        <h1 class="content-heading resource-heading">- R E S O U R C E S -</h1>
        <p class="my-lead-class resource-paragraph">Here is a list of <b style="color: red;">FREE</b> resources to get you started.</p>
    </div>

    <div class="card center my-margin" style="width:18rem; background:rgb(83, 83, 187);">
        <img src="img/harry1.jpg" alt="imageofinstructor" class="card-img-top" width="100px" style="border-radius: 11px 11px 11px 11px;">
        <div class="card-body">
            <h5 class="card-title my-black-color">C PROGRAMMING</h5>
            <p class="card-text my-black-color">- Beginner To Pro -</p>
            <a href="<%= clink %>" class="btn btn-outline-dark my-btn-class">ENJOY</a>
        </div>
    </div>

    <div class="card center my-margin" style="width:18rem; background:rgb(83, 83, 187);">
        <img src="img/abdulbari.jpg" alt="imageofinstructor" class="card-img-top" width="100px" style="border-radius: 11px 11px 11px 11px;">
        <div class="card-body">
            <h5 class="card-title my-black-color">D.S.A (C/C++) AND JAVA</h5>
            <p class="card-text my-black-color">- Beginner To Pro -</p>
            <a href="<%= dsalink %>" class="btn btn-outline-dark my-btn-class">ENJOY</a>
        </div>
    </div>

    <div class="card center my-margin" style="width:18rem; background:rgb(83, 83, 187);">
        <img src="img/angela.jpg" alt="imageofinstructor" class="card-img-top" width="100px" style="border-radius: 11px 11px 11px 11px;">
        <div class="card-body">
            <h5 class="card-title my-black-color">WEB DEVELOPMENT</h5>
            <p class="card-text my-black-color">- Beginner To Pro -</p>
            <a href="<%= weblink %>>" class="btn btn-outline-dark my-btn-class">ENJOY</a>
        </div>
    </div>

    <div class="card center my-margin" style="width:18rem; background:rgb(83, 83, 187);">
        <img src="img/flutter.jfif" alt="imageofinstructor" class="card-img-top" width="100px" style="border-radius: 11px 11px 11px 11px;">
        <div class="card-body">
            <h5 class="card-title my-black-color">FLUTTER</h5>
            <p class="card-text my-black-color">- Beginner To Pro -</p>
            <a href="<%= flutterlink %>>" class="btn btn-outline-dark my-btn-class">ENJOY</a>
        </div>
    </div>

    <div class="card center my-margin" style="width:18rem; background:rgb(83, 83, 187);">
        <img src="img/instructor.jpg" alt="imageofinstructor" class="card-img-top" width="100px" style="border-radius: 11px 11px 11px 11px;">
        <div class="card-body">
            <h5 class="card-title my-black-color">PYTHON BOOTCAMP</h5>
            <p class="card-text my-black-color">- Beginner To Pro -</p>
            <a href="<%= pythonlink %>" class="btn btn-outline-dark my-btn-class">ENJOY</a>
        </div>
    </div>

    <div class="card center my-margin" style="width:18rem; background:rgb(83, 83, 187);">
        <img src="img/go.png" alt="imageofinstructor" class="card-img-top" width="100px" style="border-radius: 11px 11px 11px 11px;">
        <div class="card-body">
            <h5 class="card-title my-black-color">GOLANG</h5>
            <p class="card-text my-black-color">- Beginner To Pro -</p>
            <a href="<%= golanglink %>" class="btn btn-outline-dark my-btn-class">ENJOY</a>
        </div>
    </div>
    
<%- include('footer') -%>